<div class="well" id="menu_font" style="font-size: 20px;" >
<center>관리자에게 요구사항 및 전달사항을 작성한 후 아래의 전송하기 버튼을 눌러 쪽지를 보내주세요.<br>
(Cancel 버튼을 클릭시 메시지 관리 페이지로 이동합니다)</center>
</div>
<br>

  <div class="container">
  <div class="row">

  <div class="col-md-2"></div>
  <div class="col-md-8">
  <form class="form-horizontal" action="/message/write_process" method="POST">
    <fieldset>
       <div class="form-group">
        <label for="inputprofessor" class="col-lg-2 control-label" style="font-size: 20px; height: 39px;" id="menu_font">보내는 사람</label>
        <div class="col-lg-10">
         <input type="text" class="form-control" name="sender" style="font-size: 18px;" id="menu_font_t" value="<%=current_user.student_name%>" disabled>
        </div>
      </div>

      <div class="form-group">
        <label for="select" class="col-lg-2 control-label" style="font-size: 20px;" id="menu_font">받는사람</label>
        <div class="col-lg-10">
          <% if current_user.email =="admin@kangwon.ac.kr"%> <!--관리자라면 모든 학생에게 보냄-->
            <input type="text" class="form-control"style="font-size: 18px;" id="menu_font_t" value="모든 학생" disabled>
            <input type="hidden" name="receiver" value="모든학생">
          <%else%>
            <input type="text" class="form-control"style="font-size: 18px;" id="menu_font_t" value="관리자" disabled>
            <input type="hidden" name="receiver" value="<%=User.where(email: "admin@kangwon.ac.kr").first.id%>">
          <%end%>
          <br>
        </div>
      </div>

      <div class="form-group">
        <label for="inputpurpose" class="col-lg-2 control-label" style="font-size: 20px;" id="menu_font">내용</label>
        <div class="col-lg-10">
            <textarea class="form-control" rows="3" name="content" style="font-size: 18px;" id="menu_font_t" required></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <a href="/message/main" class="btn btn-default" style="text-align: center; font-size: 18px;" id="menu_font">Cancel</a>
          <!--<button type="reset" class="btn btn-default"  style="font-size: 18px" id="menu_font">Cancel</button>-->
          <button type="submit" class="btn btn-primary"  style="font-size: 18px" id="menu_font">쪽지 보내기</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<div class="col-md-2"></div>

</div>
</div>

<br><br><br><br><br><br>
