
<div class="well" id="menu_font" style="font-size: 20px;" >
  <center>Made By Tip+_one</center>
</div>

<div class = "container">
<div class="row">
  
  <div class="col-md-4">
    <div class="thumbnail"> 
      <img src="http://khu-p-chohyejin.c9.io/make/엄혜선.jpg" width = "242px" height = "200px" alt="...">
      <div class="caption">
      <center>
        <h3 id="menu_font">엄혜선</h3>
        <p id="menu_font" style="font-size: 18px;">강원대학교<br>정보통신학과 2012351024</p>
        <!--<p><a href="#" class="btn btn-primary" role="button">SNS</a> <a href="#" class="btn btn-default" role="button">Email</a></p>-->
      </center>
      </div>
    </div>
  </div>
  
    <div class="col-md-4">
    <div class="thumbnail"> 
      <img src="http://khu-p-chohyejin.c9.io/make/조혜진.jpg" width = "242px" height = "200px" alt="...">
      <div class="caption">
      <center>
        <h3 id="menu_font">조혜진</h3>
        <p  id="menu_font" style="font-size: 18px;">강원대학교<br>정보통신학과 2012351039</p>
        <!--<p><a href="#" class="btn btn-primary" role="button">SNS</a> <a href="#" class="btn btn-default" role="button">Email</a></p>-->
      </center>
      </div>
    </div>
  </div>
  
    <div class="col-md-4">
    <div class="thumbnail"> 
      <img src="http://khu-p-chohyejin.c9.io/make/박지연.jpg" width = "242px" height = "200px" alt="...">
      <div class="caption">
      <center>
        <h3 id="menu_font">박지연</h3>
        <p  id="menu_font" style="font-size: 18px;">강원대학교<br>정보통신학과 2013351020</p>
        <!--<p><a href="#" class="btn btn-primary" role="button">SNS</a> <a href="#" class="btn btn-default" role="button">Email</a></p>-->
      </center>
      </div>
    </div>
  </div>
  
    <div class="col-md-4">
    <div class="thumbnail"> 
      <img src="http://khu-p-chohyejin.c9.io/make/이태진.jpg" width = "242px" height = "200px" alt="...">
      <div class="caption">
      <center>
        <h3 id="menu_font">이태진</h3>
        <p  id="menu_font" style="font-size: 18px;">강원대학교<br>정보통신학과 2010351034</p>
        <!--<p><a href="#" class="btn btn-primary" role="button">SNS</a> <a href="#" class="btn btn-default" role="button">Email</a></p>-->
      </center>
      </div>
    </div>
  </div>
  
    <div class="col-md-4">
    <div class="thumbnail"> 
      <img src="http://khu-p-chohyejin.c9.io/make/김수한.jpg" width = "242px" height = "200px" alt="...">
      <div class="caption">
      <center>
        <h3 id="menu_font">김수한</h3>
        <p  id="menu_font" style="font-size: 18px;">강원대학교<br>정보통신학과 2010351005</p>
        <!--<p><a href="#" class="btn btn-primary" role="button">SNS</a> <a href="#" class="btn btn-default" role="button">Email</a></p>-->
      </center>
      </div>
    </div>
  </div>
  
    <div class="col-md-4">
    <div class="thumbnail"> 
      <img src="http://khu-p-chohyejin.c9.io/img/san.jpg" width = "242px" height = "200px" alt="...">
      <div class="caption">
      <center>
        <h3 id="menu_font">박상철</h3>
        <p  id="menu_font" style="font-size: 18px;">강원대학교<br>정보통신학과 2010351013</p>
      <!--  <p><a href="#" class="btn btn-primary" role="button">SNS</a> <a href="#" class="btn btn-default" role="button">Email</a></p>-->
      <!--</center>-->
      </div>
    </div>
  </div>

</div>
</div>
<br><br>