<div class="well" id="menu_font" style="font-size: 20px;" >
  <center>관리자는 공지사항을 작성한 후 아래의 작성하기 버튼을 눌러 게시하세요.<br>
</div>
<br>

<center>	       
    <p  id="menu_font" style="font-size: 30px;"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;게시글 등록</p><br>
<%= form_tag("/freeboard/write", method: "post") do %>
    
    <% if user_signed_in? %>
          <center>   
            <div style="text-align: center; font-size: 20px;" id="menu_font"><br> 이름 </div>
            <div style="padding-top:1px; padding-bottom:1px; background:rgba(80,80,80,0.15); align:center; width: 700px; font-size: 18px;" id="menu_font_t">
               <br><div type= "text" name = "users"><%= current_user.student_name %></div><br>
            </div>
          </center>
    <% end %>
    
    <br><br>
    <div style="text-align: center; font-size: 20px;" id="menu_font">제목</div> 
    <input type="text" name="user_title" placeholder="Title"  style="font-size: 18px; height: 40px;" id="menu_font_t" required>
    <br><br><br>
    <div style="text-align: center; font-size: 20px;" id="menu_font">내용</div> 
    <textarea name="user_content" placeholder="Content" rows="20" cols="70"   style="font-size: 18px;" id="menu_font_t" required></textarea>
    <br><br>
    <!--<input type="hidden" name="user_name" value="%= current_user.student_name %>">-->
    <!--<input type="hidden" name="user_major" value="<%#= current_user.major %>">-->
    <!--<input type="hidden" name="user_hakbun" value="%= current_user.student_number %>">-->
    <br>
        <!--<div style="text-align: center; font-size: 18px;" id="menu_font">-->
        <!--    * 게시글의 비밀번호를 입력해주세요.<br>-->
        <!--    (수정 및 삭제시 사용됩니다)<br>-->
        <!--</div>-->
    <!--<input type="password" name="user_passowrd" placeholder="Password" style="font-size: 15px; height: 30px;" id="menu_font_t">&nbsp;-->
    <input class="btn btn-primary btn-sm" type ="submit" style="font-size: 18px;" id="menu_font" id = "writeadmin" value = "작성하기"></input> <br> <br> <br>

<% end %>
</center><br><br><br><br><br>
